/* @override 
	http://localhost:8000/wctest/style.css
	http://staging.vantagep.com/hennypenny/ms_6mistakes/exact_target/style.css */

* {
	padding: 0px;
	margin: 0px;
	font-family: "Ubuntu";
}



.container-fluid {
	width: 100%;
}

.container {
	max-width: 1200px;
	width: 80%;
	margin: 0px auto;
	position: relative;
}

.clearfix {
	clear: both;
}

.pull-right {
	display: block;
	float: right;
}

/* @group Page */

body {

	background: url('images/repeat-bottom.jpg') left top repeat-x #901d20;
	margin-top: 40px;
}


/* @end */

/* @group Header */


#header {
	padding: 0px 0px;
	clear: both;
}

#header h1 {
	font-weight: normal;
	padding: 42px 0px 0px 200px;
}

.offset {
	padding-left: 20px;
}

#header strong {
	color: #fff;
}


.lead-in {
	padding: 30px 0px;
}

.big-number {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* @end */

/* @group Columns */

.column {
	float: left;
}

.lcol {
	width: 54%;
	overflow: hidden;
}

.lcol .content {
	float: right;
	padding-left: 35%;
	margin-top: 30px;
}

.lcol p {
	color: #000;
}

p {
	margin: 0px 0px 20px 0px;
	font-size: 16px;
	line-height: 24px;
}

.red {
	color: #e1383e;
}

p.smaller {
	font-size: 12px;
	line-height: 20px;
}

.rcol {
	margin-left: 30px;
	position: relative;
	width: 35%;
}

.rcol .content {
	background-color: #ffffff;
	border-radius: 20px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	color: #000;
	
	margin-bottom: 30px;;
}

/* @end */

/* @group Form */

form li {
	list-style: none;
	margin-bottom: 20px;
}

form label {
	font-size: 12px;;
}

form li input {
	padding: 8px;
	width: 100%;
}


/* @end */

/* @group Footer */

#footer {
	padding: 30px 0px;
	background-color: black;
	clear: both;
	bottom: 0px;
	z-index: -1;
}

/* @end */

/* @group @MEDIA Queries */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 1200px) {

/*.column {
	float: none!important;
	width: 100%!important;
	margin: 0px!important;
	padding: 0px!important;
}*/

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/* @end */

