/* @override 
	http://localhost:8000/wctest/style.css
	http://staging.vantagep.com/hennypenny/ms_6mistakes/exact_target/style.css
	http://staging.vantagep.com/hennypenny/ms_6mistakes/exact_target/style_bs.css */

* {
	padding: 0px;
	margin: 0px;
	font-family: "Ubuntu";
}




.clearfix {
	clear: both;
}

.pull-right {
	display: block;
	float: right;
}

/* @group Page */

body {

	background: url('http://staging.vantagep.com/hennypenny/ms_5mistakes/exact_target/images/repeat-bottom.jpg') left top repeat-x #000000;
	margin-top: 40px;
}


/* @end */

/* @group Header */


#header {
	padding: 0px 0px;
	clear: both;
}

#header h1 {
	font-size: 33px;
	margin: 0px;
	font-weight: normal;
	padding: 42px 0px 0px 200px;
	color: #000;
}

.offset {
	padding-left: 20px;
}

#header strong {
	color: #fff;
}


.lead-in {
	padding: 30px 0px;
}

.big-number {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30%;
	
	transform: scale(0);
	opacity: 0;
	
	transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.64);
	transition-duration: .5s;
}

.big-number.show {
	transform: scale(1);
	opacity: 1;
}

/* @end */

/* @group Columns */

.column {
	float: left;
}

.lcol .content {
	padding: 60px 0px 0px 220px;
}

.lcol p {
	color: #000;
}

p {
	margin: 0px 0px 20px 0px;
	font-size: 17px;
	line-height: 28px;
}

/* @group Confirmation & Errors */

.error {
	background-color: #000;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	margin-bottom: 20px;;
}

.error h3 {
	color: #ee0a30;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	font-size: 20px;;
}

.error p {
	font-size: 16px;
	margin-bottom: 0px;
}

.confirmation-box {
background-color: #fff;
padding: 30px;
border-radius: 20px;
width: 100%;
max-width: 500px;
margin: 30px auto 200px auto;
	
}

/* @end */

.red {
	color: #e1383e;
}

p.smaller {
	font-size: 14px;
	line-height: 24px;
}


.rcol .content {
	background-color: #ffffff;
	border-radius: 20px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	color: #000;
	
	margin-bottom: 30px;;
}

/* @end */

/* @group Form */


form label {
	font-size: 14px;
	display: block;
	margin-top: 10px;
}

form input {
	padding: 8px;
	width: 100%;
	font-size: 15px;
}

form select{
	width: 100%;
	border: 1px solid #000;
	font-size: 15px;
}

.submit-button {
	background-color: #222;
	border: 0px;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px auto;
	display: block;
	text-align: center;
	padding: 20px 0px;
}

.submit-button:hover {
	background-color: #e1383e;
	color: #ffffff!important;
	text-decoration: none;
}

/* @end */

/* @group Footer */

#footer {
	padding: 30px 0px;
	background-color: black;
	clear: both;
	bottom: 0px;
	z-index: -1;
}

.mobile-center {
	margin: 0px auto;
	display: block;
}

/* @end */

/* @group @MEDIA Queries */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 1200px) {

.column {
	float: none!important;
	width: 100%!important;
	margin: 0px!important;
	padding: 0px!important;
}

.lcol h1 {
	font-size: 190%!important;
	padding-left: 30%!important;
	margin-left: 0px;
}

.lcol .content {
	padding: 100px 0px 0px 0px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.lcol .content {
	padding: 160px 0px 0px 0px;
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

p {
	margin: 0px 0px 20px 0px;
	font-size: 15px;
	line-height: 24px;
}



}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

.lcol #header h1 {
	font-size: 150%!important;
	padding-top: 20px;

}

.lcol .content {
	padding: 60px 0px 0px 0px;
}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/* @end */

